@keyframes slideOutUp {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slide-out {
    animation: slideOutUp 0.5s forwards;
}

.slide-in {
    animation: slideInUp 0.5s forwards;
}

.feed-page h1 {
    color: white;
    font-size: 2.8rem;
    position: fixed;
    top: 15px;
    text-align: center;
}

.feed-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.track-card {
    display: flex;
    gap: 3vw;
    margin-top: 50px;
    height: 80vh;
}

.feed-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.playlist.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.playlist {
    width: 40vw;
    height: 75vh;
}

.feed-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 30vw;
}

button {
    border: 3px solid white;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

.blue-button {
    margin-top: 15px;
}

.blue-button:hover {
    border-color: rgb(40, 148, 255);
    color: rgb(40, 148, 255);
}

.pink-button:hover {
    border-color: hotpink;
    color: hotpink;
}

.disabled-button {
    border-color: grey;
    color: grey
}

.disabled-button:hover {
    border-color: grey;
    cursor: default;
}

p {
    font-size: 1.4rem;
    color: white;
}

.error-box {
    width: 40vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 8px;
}

.contributors-box {
    width: 40vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(55, 55, 55);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    padding: 25px;
}

.contributors {
    height: 75vh;
    overflow-y: auto;
    top: 25%;
    scrollbar-color: hotpink transparent;
}

.contributors-box p {
    font-family: 'Spac3-halftone', sans-serif;
    color: hotpink;
    text-align: center;
    line-height: 20px;
}

.contributors-box th,
.contributors-box td {
    padding: 0.5em 1em;
}

.show-hide-contributors {
    width: 100%;
    text-align: right;
    border: none;
    color: rgb(139, 139, 139);
    line-height: 10px;
}

.show-hide-contributors:hover {
    color: hotpink;
}

.hidden-contributors {
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(55, 55, 55);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    padding: 2%;
    overflow-y: auto;
    top: 25%;
}

@media (max-width: 900px) {
    .track-card {
        flex-direction: column;
        margin-top: 80px;
    }

    .feed-page {
        width: 97vw;
    }

    .feed-right {
        width: 100%;
        padding-bottom: 50px;
    }

    .feed-page h1 {
        font-size: 2rem;
        position: relative;
        top: 55px;
    }

    .playlist {
        width: 80vw;
        height: 22vh;
    }

    .contributors-box {
        width: 80vw;
        height: 35vh;
        font-size: 0.78rem;
    }

    .hidden-contributors {
        width: 80vw;
    }
}