@font-face {
    font-family: 'Spac3-halftone';
    src: url('../assets/Spac3-halftone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.playlist-creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 100px;
}

.playlist-creation div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist-creation h1 {
    font-family: 'Spac3-halftone', sans-serif;
    color: white;
    font-size: 60;
}

.playlist-creation button:not(.cancel) {
    width: 30vw;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

.playlist-creation button:hover {
    border-color: greenyellow;
    color: greenyellow;
}

.playlist-creation textarea {
    display: flex;
    flex-direction: column;
    resize: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 50vw;
}

.playlist-creation textarea:focus {
    outline: none;
}

.playlist-creation p {
    width: 50vw;
    text-align: center;
    font-size: 18px;
    color: white;
}