input {
    display: flex;
    flex-direction: column;
    resize: none;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
}

input:focus {
    outline: none;
}

.suggestion-card {
    display: flex;
    width: 100%;
}

.suggestion-card iframe {
    flex: 1;
}

.green-button {
    width: 170px;
    padding: 2px 2px;
    word-break: break-word;
}

.green-button:hover {
    border-color: greenyellow;
    color: greenyellow;
}