html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/background.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}

@font-face {
    font-family: 'Spac3-halftone';
    src: url('../assets/Spac3-halftone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cd-spin {
  animation: spin 10s linear infinite;
  position: fixed;
  width: 65%;
  top: -45vh;
  left: -10vw;
  z-index: -0;
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 55vw;
  position: absolute;
  right: 10vw;
  top: 6vh;
  padding: 2%;
}

.homepage h1 {
  font-family: 'Spac3-halftone', sans-serif;
  font-size: 8.9rem;
  color: white;
  text-align: left;
  line-height: 80%;
}

.homepage p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  line-height: 90%;
  width: 30vw;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
  height: 43vh;
}

.homepage-buttons div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 43vh;
}

.homepage-buttons button {
  width: 30vw;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

.login-button {
  width: 140px;
  border: 3px solid white;
  background-color: black;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.login-button:hover {
  border: 3px solid #535bf2;
  color: #535bf2;
}

.button1:hover {
  border-color: hotpink;
  color: hotpink;
}

.button2:hover {
  border-color: rgb(40, 148, 255);
  color: rgb(40, 148, 255);
}

.button3:hover {
  border-color: greenyellow;
  color: greenyellow;
}